.ost-date {
  display: inline;
  position: relative;
  margin-left: 0;
  font-style: italic;
}

.is-readable-line-width .ost-date {
  display: flex;
  justify-content: end;
  position: absolute;
  width: 10ch;
  height: 24px;
  margin-left: -7rem;
}

.markdown-embed-content .ost-date {
  display: inline;
  position: relative;
  margin-left: 0;
}